---
import instagramIcon from '../assets/vimeo.svg';
import vimeoIcon from '../assets/instagram.svg';
---
<section id="footer">
    <span class="copyright">©Tom Pataki All rights reserved.</span>
    <span class="policy">ALL IMAGES AND VIDEOS ARE COPYRIGHT OF THEIR RESPECTIVE OWNERS.</span>
    <span class="social">
        <ul>
            <li>
                <a href="https://vimeo.com/user11416108" target="blank">
                    <img src={vimeoIcon.src} alt="Tom Pataki Vimeo" width="13" height="13">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/tompataki/" target="blank">
                    <img src={instagramIcon.src} alt="Tom Pataki Instagram" width="13" height="13">
                </a>
            </li>
        </ul>
    </span>
</section>