---
import instagramIcon from '../assets/vimeo.svg';
import vimeoIcon from '../assets/instagram.svg';
import { Image } from "astro:assets";
---
<section id="footer">
    <span class="copyright">©Tom Pataki All rights reserved.</span>
    <span class="policy">ALL IMAGES AND VIDEOS ARE COPYRIGHT OF THEIR RESPECTIVE OWNERS.</span>
    <span class="social">
        <ul>
            <li>
                <a href="https://vimeo.com/user11416108" target="blank">
                    <Image src={vimeoIcon.src} alt="Tom Pataki Vimeo" width="13" height="13" sizes="(max-width: 30px) 13px, 13px" loading="lazy" />
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/tompataki/" target="blank">
                    <Image src={instagramIcon.src} alt="Tom Pataki Instagram" width="13" height="13" sizes="(max-width: 30px) 13px, 13px" loading="lazy" />
                </a>
            </li>
        </ul>
    </span>
</section>