---
import '../styles/global.css';
const { bodyClass, description } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/swiper.css" />

		<script is:inline>
			function mobileMenu() {
				var x = document.getElementById("mobile-navbar");
				if (x.className === "mobile-nav") {
					x.className += " show";
				} else {
					x.className = "mobile-nav";
				}
			}
		</script>

		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={`Tom Pataki - ${description}`} />
		<title>Tom Pataki</title>
	</head>
	<body class={bodyClass}>
		<Header />
			<section id="main-content">
				<slot />
			</section>
		<Footer />
	</body>
</html>

<style is:global>
    #main-content #featured-films .featured-film .studio-logo {width:100%;max-width:200px;object-fit: contain;}
    #main-content #featured-films .featured-film .featured-film-info img {max-height:80px;}
    .desktop-only { display: none; }
    .mobile-only{ display: block; }
    @media screen and (min-width: 991px) {
        .mobile-only { display: none; }   
        .desktop-only { display: block; }
    }

</style>

<script is:inline>
function mobileMenu() {
	var x = document.getElementById("mobile-navbar");
	if (x.className === "mobile-nav") {
		x.className += " show";
	} else {
		x.className = "mobile-nav";
	}
}
</script>
